<html>
<body>
<head class="index">
  <h1>file: <%= file %></h1>
  <h2>layout: <%= layout %></h2>
  <h3>template: <%= template %></h3>
  <h4>metadata: <%= metadata %></h4>
</head>
  <!-- lingon: yield -->
</body>
</html>