<!-- lingon: layout '/_layouts/index.ejs' -->
<section class="subLayout">
  <h1>file.path: <%= file.path %></h1>
  <h2>file.layout: <%= file.layout %></h2>
  <h3>file.template: <%= file.template %></h3>
  <h4>file.metadata: <%= file.metadata %></h4>
  <!-- lingon: yield -->
</section>