<!-- lingon: layout '/_layouts/sub_layout.ejs' -->
<div class="nested">
  <h1>file: <%= context.file %></h1>
  <h2>layout: <%= context.layout %></h2>
  <h3>template: <%= context.template %></h3>
  <h4>metadata: <%= context.metadata %></h4>
</div>